.signin-form {
  margin: 50px auto 10px auto;
  max-width: 720px;
  border: 2px solid;
  border-radius: 8px;
  padding: 10px;
}

.dx-textbox {
  width: 90%;
  margin: 24px;
}

.dx-button {
  margin-top: 15px;
  
}
